/*Processed by Grunt FilesLast Sync: 14/9/2022 @ 13:13:22*/
body{
    background-color: black;
}
body{
    color: white;
}
body {
    text-align: center;
}
body{
    font-size: 100px;
}
/*# sourceMappingURL=style.css.map */