/*Processed by Grunt FilesLast Sync: 15/9/2022 @ 19:30:55*/
.card h6 {
  color: green;
}
.card p {
  color: blue;
}
.card .card h6 {
  color: green;
}
.card .card p {
  color: blue;
}

/*# sourceMappingURL=app.css.map */
